@charset "UTF-8";
/* first: import font! */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(nav.css);
@import url(mail.css);
@import url(components.css);
@import url(highlight.css);
body {
	background: #ececec url(../images/layout/background.png) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	color: #777;
	margin: 0;
	font:400 16px/20px 'Droid Sans' !important;
	min-width:320px;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust: none;
	overflow-y:scroll;
}
* {
	max-height: 10000px;
}
h1, h2, h3 {
    margin-top:0;
    font-size: 25px;
}
a {
	color: #777;
}
a:focus, a:hover {
    color: #999;
    outline: 0;
}
img {
	border-style: none;
	max-width: 100%;
}
input, textarea, select {
	vertical-align: middle;
	color: #000;
}
textarea {
	width:77%;
}
form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
input[type="email"], input[type="tel"], input[type="search"], input[type="text"], input[type="password"], input[type="file"], input[type="submit"], textarea {
	border:0;
	border-bottom:1px solid #ccc;
	margin:5px;
}
table{
	width:100%;
}
header, footer, section, article, nav, figure, aside, main {
	display: block;
}
/* the dropdownmenu */
dl{
	display:block;
	height:400px;
}
dt {
	background: #ece8e5;
	padding:5px 10px 5px 10px;
	margin-top:15px;
	margin-bottom:-4px;
	border-top:1px solid white;
	border-left:1px solid white;
	border-right:1px solid white;
	cursor:pointer;
}

dt:hover {
	color:black;
	background: #eceff3;
	background: -moz-linear-gradient(top, #fff 0%, #c1cad5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #c1cad5));
	background: -webkit-linear-gradient(top, #fff 0%, #c1cad5 100%);
	background: -o-linear-gradient(top, #fff 0%, #c1cad5 100%);
	background: -ms-linear-gradient(top, #fff 0%, #c1cad5 100%);
	background: linear-gradient(top, #fff 0%, #c1cad5 100%);
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#c1cad5', GradientType=0 );
}

dd {
	display:none;
	background:#fff;
	margin:0 0 15px 0;
	padding:10px 10px 15px 20px;
}
#button {
	display:block;
	height:25px;
	width:23px;
	padding:5px;
	text-indent:-9999px;
}
.code {
	background: #ccc;
	padding: 10px;
	margin:10px;
}
/* Modal */
.modal-content {
	padding: 15px !important;
}
/* Slider */
.carousel-control, .carousel-indicators {
	display: none;
}
.carousel-inner .item {
   left: 0 !important;
   -webkit-transition: opacity .4s;
   -moz-transition: opacity .4s; 
   -o-transition: opacity .4s; 
   transition: opacity .4s; 
}
/* MAIN */
#wrapper{
	overflow:hidden;
	min-height:800px;
	padding:0 0 60px;
}
#header{
	background:#fff;
	margin:0px auto;
	overflow:hidden; 
	-webkit-box-shadow: 10px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 1px 5px 0px rgba(0,0,0,0.75);
}
#carousel-header img{
	width:100%;
}
.logo{
	background:url(../images/logo/logo.png) no-repeat left bottom;
	background-size: 60%;
	width:20%;
	height:40px;
	text-indent:-9999px;
	overflow:hidden;
	float:left;
}
.logo a{
	display:block;
	height:100%;
}
.topnav{
	float:right;
	padding-top:10px;
}
.topnav li {
	list-style:none;
	float:left; 
}
.topnav a{
	padding: 0 5px;
}
.lang{
	position::relative;
	float:right;
	padding-top:4px;
	margin-right: 10px;
}
.lang ul{
	padding:0;
}
.lang li{
	float:left;
	list-style:none;
	padding:0 2px;
}
.lang form {
	width:30px;
}
.lang input {
	width:30px;
	border:0;
	cursor:pointer;
}
#main{
	margin:0 auto;
	background:#fff;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#main:after	{
	content:'';
	clear:both;
	display:block;
}
.ticker {
	position:relative;
	display:none;
	width:100%;
}
.typing{
	position:absolute;
	left:150px;
	top:20px;
	padding-left:18px;
}
.fade > li,.slide > li,.typing > li {
    list-style: none inside none;
}
#breadcrumb{
	margin-left: 20px;
}
#banner{
	margin-bottom:10px;
}
.contact{
	background:#000614;
	color:#fff;
	padding:10px;
	font-size:12px;
}
.contact a{
	color:#fff;
}
.box{
	margin-bottom:10px;
	padding:5px;
	-webkit-box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.75);
}
.box ul{
	list-style:none;
	margin:0;
	padding:0;
}
.column{
	background:#fff;
	vertical-align:top;
	padding: 10px 5px 0 20px;
	font-weight:400;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
.twocolumns{
	overflow:hidden;
	width:100%;
	margin:0 0 50px;
}
.twocolumns{margin:0 0 5px;}
.twocolumns .column:first-child{margin-left:0;}
.twocolumns .column{
	float:left;
}
.column h2{
	margin:0 0 18px;
	line-height:26px;
	font-weight:700;
	letter-spacing:1px;
}
.column p{
	margin:0 0 20px;
}
.col1{
	width:20%;
	position:relative;
}
.col2{
	width:80%;
}
/* DIV */
#bereich ul, #auswahl ul{
	padding:0;
}
#bereich ul li{
	float:left;
	list-style:none;
	padding:0 5px;
}
#auswahl ul li{
	list-style:none;
	padding:10px 5px;
}
/* back to top */
.backtotop{
	position:absolute;
	right:20px;
	cursor:pointer;
	display:none;
}
/* Footer */
#footer{
	margin:15px auto;
	background:#fff;
	overflow:hidden;
	padding:11px 61px 11px 11px;
	letter-spacing:0.5px;
}
#footer i {
    font-size: 20px;
    border-radius: 50%;
    border: 2px solid #939391;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all .3s;
}
#footer a {
	text-decoration:none;
}
#footer p{
	float:right;
}
#footer ul{
	margin:0;
	padding:0;
	list-style:none;
}
#footer ul li{
	float:left;
	padding:0 9px;
	position:relative;
}
#footer .footernav a{
	padding: 30px;
}
#footer ul li:first-child:before{display:none;}
#footer ul li:first-child{padding-left:0;}

@media (min-width: 1200px) {
	.container {
		width:1200px;
	}
}
@media (max-width: 1070px) {
	#wrapper{
		padding:0 20px 20px;
	}
	#container h1 .heading {
		width:100%;
	}
	#nav ul li{
		margin:0 9px 0 0;
		font-size:14px;
	}
	.gallery .slide .text{
		margin-left:68%;
		width:200px;
	}
}
@media (max-width: 767px){
	#wrapper{
		padding:0 10px 20px;
	}
	img{
		float:none!important;
	}
	.opener{
		display:block;
		font-weight:700;
		position:absolute;
		right:16px;
		top:5px;
	}
	.logo{
		-moz-transform: scale(0.8);
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
		height:25px;
		width:120px;
	}
	.gallery .slide .text{
		margin-left:66%;
		width:220px;
	}
	#header{
		position:relative;
		overflow:visible;
		margin:0 0 15px;
	}
	#header:after{
		content:"";
		clear:both;
		display:block;
	}
	.column{
		margin:0 0 15px !important;
		float:none !important;
		height:auto !important;
		width:auto !important;
		padding:17px 11px 20px !important;
	}
	.twocolumns{margin:0;}
	.ticker, .topnav, .footernav {
		display:none !important;
	}
	#footer{
		padding:11px;
		text-align:center;
	}
	#footer ul{
		display:inline-block;
		vertical-align:top;
		float:none;
	}
	#footer ul li{
		float:none;
	}
	#footer p{text-align:center;}
}
@media (max-width: 400px){
	.carousel-caption{
		bottom: -8px;
	}
}
@media print {
	header:before {
	   content:url(../images/logo/logo.png);
	 }
}
